.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.container {
    margin: 0 auto;
    padding: 5px;
}

.header {
    flex-shrink: 0;
    background: rgb(141, 153, 174);
    min-height: 25px;
}

h1 {
    text-align: center;
    color: #fff;
}

.nav-links {
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.nav-links li {
    font-size: large;
    color: #fff000;
}

.nav-links a {
    color: #fff;
    outline: none;
    text-decoration: none;
}

a:active {
    outline: none;
    text-decoration: none;
}

a:visited {
    outline: none;
    text-decoration: none;
}

a:hover {
    outline: none;
    text-decoration: none;
}

.main {
    margin: 0 auto;
    background-image: radial-gradient(circle at 50% -20.71%, #cad7f9 0, #d0d6f9 6.25%, #d5d4f7 12.5%, #dbd3f5 18.75%, #e0d2f3 25%, #e5d0f0 31.25%, #eacfed 37.5%, #eecee9 43.75%, #f2cde5 50%, #f5cce1 56.25%, #f8ccdc 62.5%, #facbd8 68.75%, #fbcbd3 75%, #fccccf 81.25%, #fccccb 87.5%, #fcccc7 93.75%, #fbcdc3 100%);
    padding-top: 5px;
    flex: 1;
        max-width: 500px;
}

article {
    color: rgb(43, 45, 66);
}

.footer {
    flex-shrink: 0;
    background-color: rgb(239, 35, 60);
}

.newPlayer {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    font-size: xx-large;
    border: 4px double black;
}