body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
}

.header {
    flex-shrink: 0;
    background: #000000;
    min-height: 25px;
}

h1 {
    text-align: center;
    color: #fff;
}

.nav-links {
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.nav-links li {
    font-size: large;
    color: #fff000;
}

.nav-links a {
    color: #fff;
    outline: none;
    text-decoration: none;
}

a:active {
    outline: none;
    text-decoration: none;
}

a:visited {
    outline: none;
    text-decoration: none;
}

a:hover {
    outline: none;
    text-decoration: none;
}

.main {
    /* margin: 0 auto; */
    padding-top: 5px;
    flex: 1;
    max-width: 500px;

}

.footer {
    flex-shrink: 0;
    background-color: #000;
}